.header {
    background-image: url("header.jpg");
    background-size: cover;
    background-position: center;
    padding-right: 0%;
    padding-left: 0%;
    height: 100vh;
    width: 100;
}

.description h1 {
    font-size: 10rem;
    color: #0b0657;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', serif;
}

.description p {
    color: rgb(80, 6, 99);
    font-size: 4rem;
    padding-left: 50px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', serif;
}

.btn-outline-secondary{
    width: 15%;
    cursor:pointer;
    border-radius: 20px;
    background:linear-gradient(to right, #3b0681,#0b0657);;
    margin: 0px 30px;
    border: 1px solid #fff;
    font-family: 'Times New Roman', serif;
    outline: none;
    position:relative;
    font-size: 27px;
}